<html>
<head>
  <title>{% block page_head_title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style type="text/css">
    {% block styles %}{% endblock %}
  </style>
</head>
<body>
  <img src="/home/fran/projects/m2000/m2000/media/header.jpg"/>
  <h3 id="page_title" align="center">{% block page_title %}{% endblock %}</h3>
  {% block page_content %}{% endblock %}
  <hr>
  <div id="page_footer" align="center">
    Asociaci&oacute;n Civil Mujeres 2000<br>
    (5411) 4381-6438 | <a href="http://www.mujeres2000.org.ar">www.mujeres2000.org.ar</a> | info@mujeres2000.org.ar
  </div>
</body>
</html>
