{% extends 'base.html' %}

{% block page_head_title %}Contrato Mutuo entre la OE y la emprendedora - {{ beneficiaria }}{% endblock %}
{% block page_title %}Contrato Mutuo entre la OE y la emprendedora{% endblock %}
{% block styles %}
  p { 
      font-size: 12px;
      text-align: justify;
  }
  .entry {
      font-weight: bold;
      font-style: underline;
  }
  table {
      font-size: 12px;
  }

{% endblock %}

{% block page_content %}
<p align="justify">
  Entre <b>Asociaci&oacute;n Civil Mujeres 2000</b> con domicilio real y legal en la calle Chubut N&deg; 1189, de la Ciudad San Isidro, Provincia de Buenos Aires representada en este acto por la Srta. Milagros Gismondi DNI. N&deg; 29.257.563 en su car&aacute;cter de Presidente en adelante <b>LA ORGANIZACI&Oacute;N</b>, por una parte y por la otra, la Sra. <u>{{ beneficiaria }}</u> con DNI. N&deg; <div id="entry">{{ dni }}</div>, con fecha de nacimiento <u>{{ fecha_nac }}</u>, de estado civil <u>{{ estado_civil }}</u> y domicilio real y legal en la calle <u>{{ domicilio }}</u> de la Ciudad de <u>{{ ciudad }}</u>, Provincia de <u>{{ provincia }}</u>, en adelante <b>LA EMPRENDEDORA</b>, convienen en celebrar el presente <b>CONTRATO DE PR&Eacute;STAMO</b>, que se regir&aacute; por las siguientes cl&aacute;usulas:<br>

  <u><b>PRIMERA</b></u>: <b>LA ORGANIZACI&Oacute;N</b> otorga y <b>LA EMPRENDEDORA</b> acepta un <b>PR&Eacute;STAMO</b> que ser&aacute; destinado para el desarrollo del emprendimiento <u>{{ emprendimiento }}</u>  y que deber&aacute; invertir en el lapso de <u>{{ cuotas }}</u> ({{ cuotas_letras | lower }}</u>) semanas corridas a partir de la fecha de la efectiva recepci&oacute;n del pr&eacute;stamo de acuerdo al medio estipulado por las partes.<br>

<u><b>SEGUNDA</b></u>: El monto del pr&eacute;stamo asciende a la suma de <b>PESOS</b> <u>{{ monto_prestamo_letras }}</u> (<u>{{ monto_prestamo }}</u>), siendo  el mismo reintegrable por parte de <b>LA EMPRENDEDORA</b>, en dinero en efectivo en <u>{{ cuotas }}</u> (<u>{{ cuotas_letras | lower }}</u>) cuotas <b>semanales</b> iguales y consecutivas de <b>PESOS</b> <u>{{ monto_cuota_letras }}</u> (<u>{{ monto_cuota }}</u>), que corresponden a la devoluci&oacute;n del monto del pr&eacute;stamo m&aacute;s <b>{{ tasa_interes_mensual }}%</b> mensual</b> en concepto de tasa de inter&eacute;s.<br>

<u><b>TERCERA</b></u>: Los pagos de las cuotas deber&aacute;n efectuarse - sin necesidad de aviso previo o requerimiento de ninguna naturaleza, los d&iacute;as s&aacute;bados de cada mes venciendo la primera de ellas el <u>{{ dia_1ra_cuota }}</u> del mes de <u>{{ mes_1ra_cuota_letras }}</u> de <u>{{ anio_1ra_cuota }}</u> y la &uacute;ltima el <u>{{ dia_ultima_cuota }}</u> del mes de <u>{{ mes_ultima_cuota_letras }}</u> de <u>{{ anio_ultima_cuota }}</u>, en el domicilio de <u>{{ domicilio_pago }}</u> o donde &eacute;ste indique por escrito en el futuro a <b>LA EMPRENDEDORA</b>.<br>

<u><b>CUARTA</b></u>: Las partes acuerdan el cumplimiento de las siguientes obligaciones:<br>
1. <b>LA EMPRENDEDORA</b> deber&aacute;:<br>
a) Aplicar el monto recibido en su totalidad a la ejecuci&oacute;n del proyecto.<br>
b) Efectuar el pago de las cuotas en tiempo y forma.<br>
2. <b>LA ORGANIZACI&Oacute;N</b> deber&aacute;:<br>
a) Asesorar y asistir t&eacute;cnicamente a <b>LA EMPRENDEDORA</b>.<br>
b) Facilitar los medios para que <b>LA EMPRENDEDORA</b> cumpla con los compromisos asumidos en este convenio, en cuanto a lugares y d&iacute;as de pagos, informaci&oacute;n del estado de su cr&eacute;dito o avisos de vencimientos. El incumplimiento de lo establecido en las cl&aacute;usulas precedentes dar&aacute; derecho a <b>LA ORGANIZACI&Oacute;N</b> a rescindir el contrato y a reclamar el saldo adeudado.<br>

<u><b>QUINTA</b></u>: De conformidad a lo establecido en la cl&aacute;usula segunda, <b>LA EMPRENDEDORA</b> no podr&aacute; variar el destino del pr&eacute;stamo, salvo que contare con aprobaci&oacute;n previa de <b>LA ORGANIZACI&Oacute;N</b>, bajo apercibimiento de producirse la rescisi&oacute;n del Contrato. En tal sentido, <b>LA EMPRENDEDORA</b> se obliga a presentar a <b>LA ORGANIZACI&Oacute;N</b>, la documentaci&oacute;n que demuestre la aplicaci&oacute;n de los recursos del pr&eacute;stamo.<br>

<u><b>SEXTA</b></u>: <b>LA ORGANIZACI&Oacute;N</b> se reserva el derecho de realizar en el local donde funcione el emprendimiento de <b>LA EMPRENDEDORA</b>, todas las inspecciones y auditorias que considere necesarias para comprobar el destino de los fondos y la marcha del emprendimiento.<br>

<u><b>S&Eacute;PTIMA</u></b>: A todos los efectos legales <b>LA EMPRENDEDORA</b> constituye domicilio legal en el indicado en el encabezamiento del presente. En el citado domicilio se tendr&aacute;n por v&aacute;lidas cuantas notificaciones judiciales o extrajudiciales que deban curs&aacute;rsele, someti&eacute;ndose a la jurisdicci&oacute;n de los tribunales competentes de la Localidad.<br>

<u><b>OCTAVA</b></u>: El presente contrato de pr&eacute;stamo sirve de suficiente recibo por parte de <b>LA EMPRENDEDORA</b> de los montos consignados en la CLAUSULA  SEGUNDA, quien formaliza por la presente legal carta de adeudo, importes que se obliga a restituir en las condiciones que se instrumentan en el presente contrato de cr&eacute;dito.<br>

<b>En prueba de conformidad y previa lectura, se firman tres ejemplares de un mismo tenor y a un solo efecto, a los ...... d&iacute;as del mes de .................... del a&ntilde;o ........, en la localidad de ......................................, Provincia de Buenos Aires, Rep&uacute;blica Argentina.</b>
</p>
<br>
<table align="center" width="90%">
  <tr>
    <td>Firma Emprendedora</td>
    <td><table>
        <tr><td align="center"><img src="{{ firma_tesorero_filename }}"/></td></tr>
        <tr><td align="center">Gast&oacute;n Masc&iacute;as</td></tr>
        <tr><td align="center">Tesorero</td></tr>
        </table>
    </td>
    <td><table>
        <tr><td align="center"><img src="{{ firma_presidente_filename }}"/></td></tr>
        <tr><td align="center">Milagros Gismondi</td></tr>
        <tr><td align="center">Presidente</td></tr>
        </table>
    </td>
</table>
</div>
{% endblock %}
