{% extends 'base.html' %}

{% block page_head_title %}Reporte de Indicadores{% endblock %}

{% block page_title %}Reporte de Indicadores{% endblock %}

{% block styles %}
    table {
        font-size: 10px;
    }
    table th { 
        font-weight: normal;
    }
{% endblock %}

{% block page_content %}
<table>
  <caption>Fecha de corte: {{ fecha_corte }}</caption>
  <thead>
    <tr>
      <th>CDI</th>
      <th>Barrio</th>
      <th>Beneficiaria</th>
      <th># Cr&eacute;dito</th>
      <th>F. Entrega</th>
      <th>F. Inicio</th>
      <th>F. Cancelac.</th>
      <th>Saldo Ant.</th>
      <th>Tasa Int.</th>
      <th>Cartera</th>
      <th>Monto Aporte</th>
      <th>Deuda Total</th>
      <th>Cuotas</th>
      <th>Cuota Calculada</th>
      <th>Cuotas Pagadas</th>
      <th>%</th>
      <th>Cuotas Te&oacute;rico</th>
      <th>%</th>
      <th>Dif. Cuotas</th>
      <th>Saldo</th>
      <th>Monto Pagado</th>
      <th>Monto Te&oacute;rico</th>
      <th>Dif. Monto</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for linea in detalle %}
    <tr class="{% cycle('odd','even') %}">
      <td>{{ linea.comentarios }}</td>
      <td>{{ linea.barrio }}</td>
      <td>{{ linea.beneficiaria }}</td>
      <td align="center">{{ linea.nro_credito }}</td>
      <td>{{ linea.fecha_entrega }}</td>
      <td>{{ linea.fecha_inicio }}</td>
      <td>{{ linea.fecha_cancelacion }}</td>
      <td align="right">{{ linea.saldo_anterior }}</td>
      <td align="right">{{ linea.tasa_interes }}</td>
      <td>{{ linea.cartera }}</td>
      <td align="right">{{ linea.monto_aporte }}</td>
      <td align="right">{{ linea.deuda_total }}</td>
      <td align="right">{{ linea.cuotas }}</td>
      <td align="right">{{ linea.cuota_calculada }}</td>
      <td align="right">{{ linea.cuotas_pagadas }}</td>
      <td align="right">{{ linea.cuotas_pagadas_porcent }}</td>
      <td align="right">{{ linea.cuotas_teorico }}</td>
      <td align="right">{{ linea.cuotas_teorico_porcent }}</td>
      <td align="right">{{ linea.diferencia_cuotas }}</td>
      <td align="right">{{ linea.saldo }}</td>
      <td align="right">{{ linea.monto_pagado }}</td>
      <td align="right">{{ linea.monto_teorico }}</td>
      <td align="right">{{ linea.diferencia_monto }}</td>
      <td align="center">{{ linea.estado }}</td>
    </tr>
    {% endfor %}
    <!-- <tr class="odd"></tr> -->
    <!-- <tr class="even"> -->
    <!--   <td><b>TOTAL<b></td> -->
    <!--   <td></td> -->
    <!--   <td></td> -->
    <!--   <td></td> -->
    <!--   <td></td> -->
    <!--   <td></td> -->
    <!--   <td></td> -->
    <!--   <td></td> -->
    <!--   <td></td> -->
    <!-- </tr> -->
  </tbody>
</table>
{% endblock %}
